.Home {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-pulse infinite 1s linear;
    }
}

.Home-header {
    background-color: #282c34;
    background-image: url('../../home.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Home-text {
    text-shadow: 2px 2px 5px #999999;
    text-decoration: none;
    user-select: none;
}

@keyframes App-logo-pulse {
    0% {
        transform: scale(95%);
    }
    25% {
        transform: scale(105%);
    }
    50% {
        transform: scale(95%);
    }
    100% {
        transform: scale(95%);
    }
}
